@model BackEnd_Camping.Models.Brand

@{
    ViewData["Title"] = "Create";
}
<div class="container my-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <h1 class="text-center">Add Brand</h1>
                <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input asp-for="Avatar" class="form-control" type="file" accept="image/*" />
                    <div class="w-100 mt-2" style="width: 100%; height: 300px;">
                        <img id="imgPreview" alt="Avatar" class="img-fluid border-2" style="width: 100%; height: 300px;" />
                    </div>
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group col-12 text-center fs-3" style="margin-top: 17px;">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" maxlength="20" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                    
                        
                </div>
                <div class="col">
                    <div class="form-group col-8 mb-2">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" maxlength="10"  type="number"/>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-8 mb-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" maxlength="30"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" maxlength="50" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group col-6 mb-2">
                        <label asp-for="MetaTitle" class="control-label"></label>
                        <input asp-for="MetaTitle" class="form-control" maxlength="20"/>
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label asp-for="MetaDescription" class="control-label"></label>
                        <input asp-for="MetaDescription" class="form-control" maxlength="50" />
                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 mb-2">
                        <label asp-for="MetaKeywords" class="control-label"></label>
                        <input asp-for="MetaKeywords" class="form-control" maxlength="40" />
                        <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                    </div>
                    <div class="form-group mx-2 d-flex justify-content-center align-items-center my-2">
                        <a asp-action="Index" class="text-decoration-none">
                            <button type="button" class="back-button mx-5">
                                <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                            </button>
                        </a>
                        <button type="submit" class="add-button mx-5">
                            <i class="fa-solid fa-plus text-white edit-svgIcon"></i>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
        </form>
</div>
@section Header {
    @{
        <link href="~/admin/plugins/ckeditor5/ckeditor5.css" rel="stylesheet" />
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ],
                editorConfig: {
                    height: '400px',
                    width: '450px'
                }
            })
            .then(editor => {
                editor.ui.view.editable.element.style.height = '400px';
                editor.ui.view.editable.element.style.width = '450px';
                editor.ui.view.editable.element.style.resize = 'none';
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <!-- A friendly reminder to run on a server, remove this during the integration. -->
    <script>
        window.onload = function () {
            if (window.location.protocol === "file:") {
                alert("This sample requires an HTTP server. Please serve this file with a web server.");
            }
        };
    </script>
    <script>
        window.onload = () => {
            document.getElementById("Avatar").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                    preview.style.display = "block";
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.style.display = "none";
                }
            };
        }
    </script>
}
