@model BackEnd_Camping.Models.UserBrands

@{
    ViewData["Title"] = "Create";
}

<div class="container my-3">
        <form asp-action="Create">
        <div class="row">
           
            <div class="col"></div>
            <div class="col border border-2 my-auto">
                <h1 class="text-center">Add Favorites Brands</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="USE_ID" class="control-label"></label>
                    <select asp-for="USE_ID" class ="form-control" asp-items="ViewBag.USE_ID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BRA_ID" class="control-label"></label>
                    <select asp-for="BRA_ID" class ="form-control" asp-items="ViewBag.BRA_ID"></select>
                </div>
                <div class="form-group mx-2 d-flex justify-content-center align-items-center my-2">
                    <a asp-action="Index" class="text-decoration-none">
                        <button type="button" class="back-button mx-5">
                            <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                        </button>
                    </a>
                    <button type="submit" class="add-button mx-5">
                        <i class="fa-solid fa-plus text-white edit-svgIcon"></i>
                    </button>
                </div>
            </div>
            
            <div class="col"></div>
        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
